/* ------------ *
 * MAIN CONTENT *
 * ------------ */

h1, h2, h4 {
	padding-left: $rspace;
	padding-right: $rspace;
}

h1 { // Company Name
	font-family: 'Coustard', serif;
	font-weight: 700;
	letter-spacing: 0.02em;
}

h2 { // Hero Title
	font-family: 'Coustard', serif;
	font-weight: 700;
}

h3 { // Main Heading
	// margin-top: 0;
	margin-left: $rspace;
	font-size: 1.5em;
	font-weight: 400;
}

h4 { // Sub Heading
	font-weight: 700;
}

#post-message {
	margin: 0;
	text-align: center;
	font-weight: 700;
	background-color: $lightGray;
}

.follow, .promote {
	//background-color: ;
}
.unfollow, .unpromote {
	background-color: $cyan;
}

table, thead, tbody, tr, th, td {
	text-align: left;
}
table {
	width: 100%;
	margin: $space;
	thead {

	}

	tr {
		th, td {
			padding-right: $space;
		}
	}
}

#showGroup {
	width: 100%;
	margin: $space;
	padding: 0;
	list-style-type: none;

	li {
		float: left;
		margin-right: $space;
		padding: $space/2;
		border: 2px darken($cyan, 50%) solid;

		a {
			display: inline-block;
			width: 100%;
			height: 100%;
		}
	}
}