/* ---------- *
 * CONTAINERS *
 * ---------- */

.main {
	width: 100%;
	margin: 0 auto;
	padding-top: 1em;
}

#header, #footer {
	padding-left: 3em;
	padding-right: 3em;
}

#header {
	@include flexbox;
	@include flex-flow(row nowrap);
	@include justify-content(space-between);
}

.content {
	@include flexbox;
	@include flex-flow(row wrap);

	#hero {
		@include flex(100%);
	}

	nav {
		padding: $space;
	}
	
	section {
		@include flex(66%);
	// 	margin-top: $space*3;
	// 	margin-right: $space;
	}
 
	aside { 
		@include flex(33%);
	}

	form {
		padding-left: 3em;
		padding-right: 3em;
	}
}

#footer {
// 	text-align: center;

// 	p {
		
// 	}
}
