/* ------------ *
 * MAIN CONTENT *
 * ------------ */

h1, h2, h3, h4 {

}

h1 {
	font-family: 'Coustard', serif;
	font-weight: 700;
	letter-spacing: 0.03em;
}

h2 {
	font-family: 'Coustard', serif;
	font-weight: 700;
}

h3 {
	font-weight: 400;
}

h4 {
	font-weight: 700;
}

blockquote {

}

#hero {
	padding: $space $space $space/2 $space;
	background-color: $lightGray;

	h1 {
		margin: 0;
	}
}

table, thead, tbody, tr, th, td {
	text-align: left;
}
table {
	width: 100%;
	margin: $space;
	thead {

	}

	tr {
		th, td {
			padding-right: $space;
		}
	}
}

#showGroup {
	width: 100%;
	margin: $space;
	padding: 0;
	list-style-type: none;

	li {
		float: left;
		margin-right: $space;
		padding: $space/2;
		border: 2px darken($cyan, 50%) solid;

		a {
			display: inline-block;
			width: 100%;
			height: 100%;
		}
	}
}