/* ------- *
 * GLOBALS *
 * ------- */

* {
	box-sizing: border-box;
}

html, body {
	overflow-x: hidden;
}

html {
	font-family: 'Lato', sans-serif;
	color: $textColor;
}

body {
	font-size: 16px;
	background-color: white;
}

a {
	transition: color $tTime/2;
	color: darken($cyan, 50%);

	&:hover {
		color: $darkGray;
	}

	&:active {
		color: darken($cyan, 50%);
	}
}

dd {
	margin-left: 0;
}

.button {
	padding: 0.25em 0.5em;

	font-size: 1.25em;
	font-weight: normal;
	letter-spacing: 0.05em;
	color: white;

	background-color: darken($cyan, 50%);

}

button {
	border: 0;
	
	a {
		font-size: 1rem;
		text-decoration: none;
	}
}

.hidden {
	display: none;
}