/* ------ *
 * HEADER *
 * ------ */

#header {
	border-bottom: 0.3em $cyan solid;

	#title {
		font-size: 1.5em;

		a {
			color: $textColor;
			text-decoration: none;
		}
	}
	
	#topnav {
		float: right;
		ul {
			list-style: none; 

			li {
				float: left;
				padding-left: 3rem;
				// text-align: center;

				&:hover {
					
				}

				a {
					// display: inline-block;
					// vertical-align: middle;
					// width: 100%;
					// height: $space*2;
					// font-size: 1.5em;
					text-decoration: none;

					// &:before {
					// 	/* http://css-tricks.com/centering-in-the-unknown/ */
					// 	content: '';
					// 	display: inline-block;
					// 	vertical-align: middle;
					// 	height: 100%;
					// }
				}
			}
		}
	}
}