/* ------------- *
 * LIST DISPLAYS *
 * ------------- */

.flex { // up to 3 tiles per row
	@include flexbox;
	@include flex-flow(row wrap);
	@include justify-content(space-between);
}
.section {
	@include flex(66%);
}
.side {
	@include flex(33%);
}

.bar, .tile {
	// @include flex(1);
	padding: 2rem $rspace;

	h3 {
		@include flex(1 100%);
		margin-top: 0;
		margin-left: 0;
	}
	
	p {
		margin-top: 0.5em;
	}
}

.bar { // full width, one entry per row
	// display: block;
	@include flex(1 100%);
	// background-color: $lightGreen;
}

.tile {
	// display: inline-block;
	// @include flex(1 auto);
	width: 20rem;
	margin-right: 1em;
	// background-color: $yellow;
	
}

.list { // compact rows

}