/* ------------- *
 * LIST DISPLAYS *
 * ------------- */

.flex { // up to 3 tiles per row
	@include flexbox;
	@include flex-flow(row wrap);
	@include justify-content(space-between);
	list-style: none;
	margin: 0;
	padding-left: 0;
}
.section {
	@include flex(66%);
}
.side {
	@include flex(33%);
}

.bar, .tile {
	// @include flex(1);
	padding: 2rem $rspace;

	h3 {
		@include flex(1 100%);
		margin-top: 0;
		margin-left: 0;
	}
	
	p {
		margin-top: 0.5em;
	}
}

.bar { // full width, one entry per row
	// display: block;
	@include flex(1 100%);
	// background-color: $lightGreen;
}

.tile {
	// display: inline-block;
	// @include flex(1 auto);
	width: 20rem;
	margin-right: 1em;
	// background-color: $yellow;
	
}

.list { // compact rows
	@include flex(1 100%);

	h3 {
		margin: 1rem 0;
		padding-left: 3rem;
	}
}

li.tile {
	background-size: cover ;//100% auto;
	min-height: 10em;
	margin-top: 1em;
}

