/* ---------- *
 * $VARIABLES *
 * ---------- */

// Colours
$cyan:			hsl(181,  63,  95);
$lightGreen: 	hsl(100,  60,  90);
$yellow:		hsl( 56,  58,  95);

$darkGray:		rgb(153, 153, 153);
$medGray:		rgb(197, 197, 197);
$lightGray:		rgb(240, 240, 240);

// Measured units
$pageWidth-max:		80em; // 72em = 1152px; 80em = 1280px;

$space: 	1.5em;

$tTime:		0.25s;